<!--
 * Copyright (c) 2020, salesforce.com, inc.
 * All rights reserved.
 * SPDX-License-Identifier: BSD-3-Clause
 * For full license text, see the LICENSE file in the repo root or https://opensource.org/licenses/BSD-3-Clause
 */
 -->

{{#content 'sideMenu'}}
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    {{labels.websiteShortName}}
  </div>
  <div class="list-group list-group-flush">
    <a href="#connection" data-toggle="pill" class="list-group-item list-group-item-action bg-light active">1.
      Connection</a>
    <a href="#config" data-toggle="pill" class="list-group-item list-group-item-action bg-light">2. Package
      configuration</a>
    {{#xIf current.isWebApp "===" false}}
    <a href="#overview" data-toggle="pill" class="list-group-item list-group-item-action bg-light">3. Package review</a>
    {{else}}
    <a href="#overview" data-toggle="pill" class="list-group-item list-group-item-action bg-light">3. Package review and
      download script</a>
    {{/xIf}}
    {{#xIf current.isWebApp "===" false}}
    <a href="#execute" data-toggle="pill" class="list-group-item list-group-item-action bg-light">4. Package
      execution</a>
    {{/xIf}}
  </div>
</div>
{{/content}}

{{#content 'sideMenuToggle'}}
<button class="btn btn-gray btn-sm" id="menu-toggle" data-toggle="tooltip" title="Toggle sidebar">
  <i class="fa fa-2x fa-angle-left"></i><i class="fa fa-2x fa-angle-right"></i>
</button>
{{/content}}

<div class="main-tabs tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="connection" role="tabpanel" aria-labelledby="pills-home-tab">
    {{#xIf current.isWebApp "===" false}}
    <h3>Step 1 of 4. Connection</h3>
    {{else}}
    <h3>Step 1 of 3. Connection</h3>
    {{/xIf}}
    <div>
      <button class="btn btn-success btn-sm" type="button" data-toggle="tooltip"
        title="Connect between selected source and target Orgs and go to the Package Configuration step"
        ng-show="context.orgList.length > 0"
        ng-disabled="!context.orgSelector.targetOrgIds[0] || !context.orgSelector.sourceOrgIds[0] || context.orgSelector.sourceOrgIds[0] == context.orgSelector.targetOrgIds[0]"
        ng-click="connectBetweenOrgsClickHandler()">
        GO TO NEXT STEP -->
      </button>
      {{#xIf current.isWebApp "===" false}}
      <button class="btn btn-sm btn-info" ng-click="openRootExportFolder()"><i class="fa fa-folder-open"></i>
        Open application base folder
      </button>
      {{/xIf}}
    </div>
    <hr />
    <div id="connectonSection">
      {{> connectionSection}}
    </div>
  </div>
  <div class="tab-pane fade" id="config" role="tabpanel" aria-labelledby="pills-profile-tab">
    {{#xIf current.isWebApp "===" false}}
    <h3>Step 2 of 4. Package configuration</h3>
    {{else}}
    <h3>Step 2 of 3. Package configuration</h3>
    {{/xIf}}
    <div>
      <button class="btn btn-success btn-sm" type="button" data-toggle="tooltip"
        title="Create the export script and go to the Script Review step"
        ng-show="context.sourceOrg && context.targetOrg" ng-disabled="context.selectedConfigIds.length == 0"
        ng-click="createPackageScriptClickHandler()">
        GO TO NEXT STEP -->
      </button>
      {{#xIf current.isWebApp "===" false}}
      <button ng-disabled="!context.selectedConfigIds[0]" class="btn btn-sm btn-info" ng-click="openExportFolder()"><i
          class="fa fa-folder-open"></i>
        Open package configuration folder
      </button>
      {{/xIf}}
    </div>
    <hr />
    <div id="packageConfigurationSection">
      <div ng-show="!!context.selectedConfig.dataError && context.selectedConfig.validated" class="alert alert-danger">
        Please, review and fix configuration errors before move to the next step
      </div>
      {{> packageConfigurationSection}}
    </div>
  </div>
  <div class="tab-pane fade" id="overview" role="tabpanel" aria-labelledby="pills-contact-tab">
    {{#xIf current.isWebApp "===" false}}
    <div class="row" style="float:none !important">
      <div class="col-md-6">
        <h3 class="inline-block mr-2">Step 3 of 4. Package review {[{context.configExtraData.packageName}]}</h3>
        <select class="form-control inline-block" style="max-width:220px"
          ng-model="context.configExtraData.sourceTarget" ng-change="updatePackageScriptHandler()"
          ng-disabled="context.selectedConfig.extraData.isFileMigration"
          ng-show="!context.selectedConfig.dataError && context.selectedConfig.validated">
          <option value="Orgs" ng-hide="context.orgSelector.targetOrgIds[0] == context.orgSelector.sourceOrgIds[0]">
            Source Org -> Target Org
          </option>
          <option value="Org2File">
            Source Org -> CSV Files
          </option>
          <option value="File2Org">
            CSV Files -> Target Org
          </option>
        </select>
      </div>
      <div class="col-md-6">
        <button ng-show="context.configExtraData.commandString" ng-click="executePackage()"
          class="btn btn-success btn-sm" type="button" data-toggle="tooltip"
          title="Start script execution and go to the Script Execution step" ng-show="true" ng-disabled="false">
          RUN THE PACKAGE NOW -->
        </button>

        <button class="btn btn-sm btn-info" ng-click="openExportFolder()"><i class="fa fa-folder-open"></i>
          Open package configuration folder
        </button>

      </div>
    </div>
    {{else}}
    <h3>Step 3 of 3. Package review and download script {[{context.configExtraData.packageName}]}</h3>
    <div>
      <a href="/downloadscript" class="btn btn-sm btn-info"><i class="fa fa-download"></i> Download script
      </a>
    </div>
    {{/xIf}}
    <hr />
    <div id="reviewScriptSection">
      {{> reviewScriptSection}}
    </div>
  </div>
  {{#xIf current.isWebApp "===" false}}
  <div class="tab-pane fade" id="execute" role="tabpanel" aria-labelledby="pills-contact-tab">
    <h3>Step 4 of 4. Package execution</h3>
    <div>
      <button class="btn btn-sm btn-default" ng-click="openExportFolder()"><i class="fa fa-folder-open"></i>
        Open task target folder
      </button>
    </div>
    <hr />
    <div id="executeScriptSection">
      {{> executeScriptSection}}
    </div>
  </div>
  {{/xIf}}
</div>